*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: black;
  background-color: $background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

p {
  font-family: "PT Serif", serif;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
}
